body {
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
}
#auth {
    height: 100vh;
    overflow-x: hidden;
}
#auth #auth-right {
    height: 100%;
    background: linear-gradient(rgba(237, 241, 255, 1), rgba(67, 94, 190, 0.5)), url('../../images/bontang-kuala-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
#auth #auth-left {
    padding: 0 3.6rem;
}
#auth #auth-left .auth-title {
    font-size: 2rem;
    margin-bottom: 2rem;
}
#auth #auth-left .auth-subtitle {
    color: #a8aebb;
    font-size: 1.7rem;
    line-height: 2.5rem;
}
#auth #auth-left .auth-logo {
    margin-bottom: 2rem;
}
#auth #auth-left .auth-logo img {
    height: 2rem;
}
#auth #auth-left .auth-logo span {
    font-family: 'Croissant One', cursive;
    font-size: 3.2rem;
    background: -webkit-linear-gradient(#87a1ff, #435ebe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 767px) {
    #auth #auth-left {
        padding: 5rem;
    }
}
@media screen and (max-width: 576px) {
    #auth #auth-left {
        padding: 5rem 3rem;
    }
}
body.theme-dark #auth-right {
    background: url(../../../assets/images/4853433.png?45649b87e0b3f50bfa1372c6cdb4595f), linear-gradient(90deg, #2d499d, #3f5491);
}
